In [21]:
#http://192.168.22.249/files/
import pandas as pd
data = pd.read_csv('data/movies.csv')
data.tail(50)

,Unnamed: 0,user_Id,item_id,rating,TimeStamp,title
99953,99953,405,1551,1,885546835,"Glass Shield, The (1994)"
99954,99954,456,1551,3,881374193,"Glass Shield, The (1994)"
99955,99955,747,1631,3,888638957,"Slingshot, The (1993)"
99956,99956,655,1631,4,888685734,"Slingshot, The (1993)"
99957,99957,495,1542,4,888637643,"Scarlet Letter, The (1926)"
99958,99958,399,1542,2,882348592,"Scarlet Letter, The (1926)"
99959,99959,405,1556,1,885549635,Condition Red (1995)
99960,99960,559,1556,3,891033759,Condition Red (1995)
99961,99961,863,1678,1,889289570,Mat' i syn (1997)
99962,99962,405,1567,1,885547123,Careful (1992)
99963,99963,60,1122,5,883326498,They Made Me a Criminal (1939)
99964,99964,90,1201,5,891383687,Marlene Dietrich: Shadow and Light (1996)
99965,99965,405,1546,1,885549408,Shadows (Cienie) (1988)
99966,99966,650,1627,3,891383786,"Wife, The (1995)"
99967,99967,851,1676,2,875731674,"War at Home, The (1996)"
99968,99968,863,1680,2,889289570,Sliding Doors (1998)
99969,99969,181,1366,1,878962200,JLG/JLG - autoportrait de d√©cembre (1994)
99970,99970,486,1611,3,879874692,Intimate Relations (1996)
99971,99971,782,1611,3,891500066,Intimate Relations (1996)
99972,99972,782,1668,3,891500067,Wedding Bell Blues (1996)
99973,99973,405,1564,1,885546288,To Cross the Rubicon (1991)
99974,99974,456,1604,4,881372849,He Walked by Night (1948)
99975,99975,405,1574,1,885546529,Pharaoh's Army (1995)
99976,99976,883,1448,5,891695570,My Favorite Season (1993)
99977,99977,655,1448,3,887523224,My Favorite Season (1993)
99978,99978,234,1448,3,892335187,My Favorite Season (1993)
99979,99979,787,1671,1,888980193,"Further Gesture, A (1996)"
99980,99980,587,1625,4,892871732,Nightwatch (1997)
99981,99981,782,1665,2,891500194,"Brother's Kiss, A (1997)"
99982,99982,181,1325,1,878962816,August (1996)
99983,99983,782,1670,3,891497793,Tainted (1998)
99984,99984,181,1341,1,878962169,Hedd Wyn (1992)
99985,99985,181,1352,1,878962240,Shadow of Angels (Schatten der Engel) (1976)
99986,99986,655,1636,4,887473570,Brothers in Trouble (1995)
99987,99987,896,1681,3,887160722,You So Crazy (1994)
99988,99988,655,1638,3,887488947,Normal Life (1996)
99989,99989,782,1667,3,891500110,"Next Step, The (1995)"
99990,99990,851,1675,3,884222085,"Sunchaser, The (1996)"
99991,99991,234,1460,3,892335460,Sleepover (1995)
99992,99992,532,1594,4,893115576,Everest (1998)
99993,99993,416,1594,5,893212484,Everest (1998)
99994,99994,648,1626,1,884795447,Nobody Loves Me (Keiner liebt mich) (1994)
99995,99995,655,1645,4,892871225,"Butcher Boy, The (1998)"
99996,99996,747,1659,1,888733313,Getting Away With Murder (1996)
99997,99997,916,1682,3,880845755,Scream of Stone (Schrei aus Stein) (1991)
99998,99998,840,1674,4,891211682,Mamma Roma (1962)
99999,99999,655,1640,3,888474646,"Eighth Day, The (1996)"
100000,100000,655,1637,3,888984255,Girls Town (1996)
100001,100001,655,1630,3,887428735,"Silence of the Palace, The (Saimt el Qusur) (1..."
100002,100002,655,1641,3,887427810,Dadetown (1995)

In [22]:
#Step 1: Lets see which movie has highest rating on avg
data.groupby('title')['rating'].mean().sort_values(ascending=False)

title
They Made Me a Criminal (1939)                  5.0
Marlene Dietrich: Shadow and Light (1996)       5.0
Saint of Fort Washington, The (1993)            5.0
Someone Else's America (1995)                   5.0
Star Kid (1997)                                 5.0
                                               ...
Eye of Vichy, The (Oeil de Vichy, L') (1993)    1.0
King of New York (1990)                         1.0
Touki Bouki (Journey of the Hyena) (1973)       1.0
Bloody Child, The (1996)                        1.0
Crude Oasis, The (1995)                         1.0
Name: rating, Length: 1664, dtype: float64

In [23]:
#Step 2 : How many people rated the movie
data.groupby('title')['rating'].count().sort_values(ascending=False)

title
Star Wars (1977)                      584
Contact (1997)                        509
Fargo (1996)                          508
Return of the Jedi (1983)             507
Liar Liar (1997)                      485
                                     ...
Great Day in Harlem, A (1994)           1
Other Voices, Other Rooms (1997)        1
Good Morning (1971)                     1
Girls Town (1996)                       1
√Å k√∂ldum klaka (Cold Fever) (1994)      1
Name: rating, Length: 1664, dtype: int64

In [24]:
#Combine mean and count 
ratings = pd.DataFrame(data.groupby('title')['rating'].mean())
ratings['no_of_ratings'] = data.groupby('title')['rating'].count()
ratings.head(50)

                                                      rating  no_of_ratings
title
'Til There Was You (1997)                           2.333333              9
1-900 (1994)                                        2.600000              5
101 Dalmatians (1996)                               2.908257            109
12 Angry Men (1957)                                 4.344000            125
187 (1997)                                          3.024390             41
2 Days in the Valley (1996)                         3.225806             93
20,000 Leagues Under the Sea (1954)                 3.500000             72
2001: A Space Odyssey (1968)                        3.969112            259
3 Ninjas: High Noon At Mega Mountain (1998)         1.000000              5
39 Steps, The (1935)                                4.050847             59
8 1/2 (1963)                                        3.815789             38
8 Heads in a Duffel Bag (1997)                      3.250000              4
8 Seconds (1994)                                    3.750000              4
A Chef in Love (1996)                               4.125000              8
Above the Rim (1994)                                3.000000              5
Absolute Power (1997)                               3.370079            127
Abyss, The (1989)                                   3.589404            151
Ace Ventura: Pet Detective (1994)                   3.048544            103
Ace Ventura: When Nature Calls (1995)               2.675676             37
Across the Sea of Time (1995)                       2.750000              4
Addams Family Values (1993)                         2.816092             87
Addicted to Love (1997)                             3.166667             54
Addiction, The (1995)                               2.181818             11
Adventures of Pinocchio, The (1996)                 3.051282             39
Adventures of Priscilla, Queen of the Desert, T...  3.594595            111
Adventures of Robin Hood, The (1938)                3.791045             67
Affair to Remember, An (1957)                       4.192308             26
African Queen, The (1951)                           4.184211            152
Afterglow (1997)                                    3.111111             18
Age of Innocence, The (1993)                        3.384615             65
Aiqing wansui (1994)                                5.000000              1
Air Bud (1997)                                      2.558140             43
Air Force One (1997)                                3.631090            431
Air Up There, The (1994)                            2.812500             16
Airheads (1994)                                     2.343750             32
Akira (1988)                                        3.380000             50
Aladdin (1992)                                      3.812785            219
Aladdin and the King of Thieves (1996)              2.846154             26
Alaska (1996)                                       2.692308             13
Albino Alligator (1996)                             2.500000              6
Alice in Wonderland (1951)                          3.666667             81
Alien (1979)                                        4.034364            291
Alien 3 (1992)                                      2.830000            100
Alien: Resurrection (1997)                          3.096774            124
Aliens (1986)                                       3.947183            284
All About Eve (1950)                                4.045455             66
All Dogs Go to Heaven 2 (1996)                      1.866667             15
All Over Me (1997)                                  3.000000              3
All Things Fair (1996)                              3.000000              1
Alphaville (1965)                                   3.333333             12

In [25]:
#Do pivot Table ,Pivot takes 3 variables
pivot = data.pivot_table(index='user_Id',columns='title',values='rating')
pivot
#Shows which users , what movie they rated ,what rating they gave

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,√Å k√∂ldum klaka (Cold Fever) (1994)
user_Id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,3.0,NaN,NaN,NaN,NaN

In [29]:
#Pick a movie
movie = pivot['Liar Liar (1997)']

#Associate above and relate with others in the pivot
similar = pivot.corrwith(movie)
similar
#Put similar in a DataFrame
df = pd.DataFrame(similar,columns=['Correlations'])
df.sort_values('Correlations' ,ascending= False).head(20)

#At this point we can see the movie similar to Liar Liar
#Question how many people rated below movies
df = df.join(ratings['no_of_ratings'])
df[df['no_of_ratings']>100].sort_values('Correlations',
                                        ascending=False).head(20)

/home/user/.local/lib/python3.10/site-packages/numpy/lib/function_base.py:2846: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/home/user/.local/lib/python3.10/site-packages/numpy/lib/function_base.py:2705: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)

                                           Correlations  no_of_ratings
title
Liar Liar (1997)                               1.000000            485
Batman Forever (1995)                          0.516968            114
Mask, The (1994)                               0.484650            129
Down Periscope (1996)                          0.472681            101
Con Air (1997)                                 0.469828            137
Pretty Woman (1990)                            0.469790            164
101 Dalmatians (1996)                          0.469765            109
Michael (1996)                                 0.442022            119
Waterworld (1995)                              0.438405            102
Indiana Jones and the Last Crusade (1989)      0.414427            331
Young Guns (1988)                              0.410988            101
Top Gun (1986)                                 0.405720            220
G.I. Jane (1997)                               0.397931            175
Ace Ventura: Pet Detective (1994)              0.397554            103
Multiplicity (1996)                            0.396860            134
Craft, The (1996)                              0.394830            104
Grumpier Old Men (1995)                        0.390699            148
Ghost and the Darkness, The (1996)             0.379075            128
Back to the Future (1985)                      0.378028            350
Shine (1996)                                   0.376520            129